<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Header</title>
</head>
<body>
    <div class="navbar">
        <div class="titre">
            <i class="fa-solid fa-code"></i>
            <h1>DevLearn</h1>
        </div>
        <div class="menu_button">

        </div>
        <div class="menu">
            <ul>
                <li><a href="../pages/index.html">Acceuil</a></li>
                <li><a href="../pages/cours.html">Cours</a></li>
                <li><a href="../pages/formateur.html">Formateurs</a></li>
                <li><a href="../pages/support.html">Support</a></li>
                <li><a href="../pages/faq.html">FAQ</a></li>
            </ul>
        </div>

        <div class="buttons">
            <div class="btn1">
                <button><a href="../pages/login.html">Connexion</a></button>
            </div>
            <div class="btn2">
                <button id="inscript"><a href="../pages/login.html?form=home">S'inscrire</a></button>
            </div>
        </div>

        <div class="burger">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    
    </div>
    <script src="../js/login.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>